@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

*{
	margin: 0;
	padding: 0;
	outline: none;
}
html,body{
	height: 100vh;
}

body{
	height: 100vh;
	display: flex;
	font-family: 'Roboto', sans-serif;
}

.black, .white{
	width: 50vw;
	height: 100vh;
}

.product{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#t-shirt-black, #t-shirt-white{
	transition: background .3s cubic-bezier(0, 1.75, 0.32, 1.28);
}

#t-shirt-black{
	background: url('t-shirt-black.svg') center no-repeat;
	background-size: 60%;
}

#t-shirt-white{
	background: url('t-shirt-white.svg') center no-repeat;
	background-size: 60%;
}

#t-shirt-black:hover, #t-shirt-white:hover{
	transition: background .3s cubic-bezier(0, 1.75, 0.32, 1.28);
	background-size: 70%;
}

#logo-black{
	background: url('logo-white.svg') black center right no-repeat;
	background-size: 10vh;
}

#logo-white{
	background: url('logo-black.svg') white center left no-repeat;
	background-size: 10vh;
}

.black{
	color: white;
}

.white{
	color: black;
}

@media screen and (orientation:portrait) and (max-width: 600px){
    .yo{
    	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(yo.svg) #fff center no-repeat;
		background-size: 60%;
		z-index: 9999;
    }
}